#ticker-color-example {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	margin: 0 7px 0 3px;
	padding: 4px 14px;
}

#text-color-example {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	margin: 0 7px 0 3px;
	padding: 4px 14px;
}

#ticker-height {
	/* need to set this for the slider to stay in position? */
	height: 20px;
	color: #000000;
}

#ticker-height::after {
	content: attr(data-value) ' / ' attr(max) 'px';
	position: relative;
	left: 155px; top: -15px;
}
